<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact</title>
    <style>
      body {
        background: url("/static/pexels-eberhard-grossgasteiger-1287075.jpg");
          no-repeat;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <h1>Contact Information</h1>
    <p>Email: EMAN@example.com</p>
    <p>Phone: 9597268473</p>
    <p>Address: 123 Main Street, shollinganallur, Chennai</p>
    <h1>Connect with Us</h1>
    <a href="https://www.linkedin.com/">LinkedIn</a><br />
    <a href="https://twitter.com/">Twitter</a><br />
    <a href="https://www.facebook.com/">Facebook</a><br />
    <a href="{{ url_for('dash') }}">Back to Home</a>
  </body>
</html>
